<div class="mb-6 border border-gray-200 rounded-lg p-4 bg-gray-100 shadow-md">
  <!--Order details-->
  <h2 class="text-xl font-bold">Order ID: {{ order.id }}</h2>
  <p class="text-sm text-gray-500 mb-4">Date: {{ order.date | date }}</p>

  <div class="space-y-4">
    <ng-container *ngFor="let purchase of order.purchase">
      <ng-container *ngIf="purchase.game as game">
        <div class="flex justify-between p-4 bg-white border border-gray-200 rounded-lg">
          <!-- Image -->
          <img
            [src]="game.images[0]"
            [alt]="game.name"
            class="w-24 h-24 object-cover rounded-lg" />

          <!-- Details -->
          <div class="flex flex-col flex-1 ml-4">
            <div class="flex flex-col justify-between h-full">
              <!-- Game Name and Total Price -->
              <div class="flex items-center justify-between">
                <h3 class="text-lg font-semibold text-gray-900">{{ game.name }}</h3>
                <span class="text-lg font-bold text-gray-900">${{ game.price * purchase.quantity }}</span>
              </div>
              <!-- Description -->
              <p class="text-sm text-gray-600 mt-2">{{ game.title }}</p>
              <!-- Quantity -->
              <div class="flex justify-end mt-auto">
                <p class="text-slate-500 font-medium text-base">{{ purchase.quantity }} x ${{ game.price }}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <!--Total order price-->
  <div class="flex justify-end mt-4">
    <p class="text-lg font-bold text-gray-900">
      Total order price: <span class="text-blue-600">${{ order.totalPrice }}</span>
    </p>
  </div>
</div>
