<header class="p-4">
  <div class="container mx-auto flex items-center justify-between">
    <div class="flex items-center justify-between w-full">
      <p class="text-slate-900 text-xl font-bold">Board Games Shop</p>

      <nav class="flex space-x-4 items-center">
        <a
          [routerLink]="['/games']"
          class="text-slate-900 hover:text-orange-500"
          >Games</a
        >
        <a
          [routerLink]="['/history']"
          class="text-slate-900 hover:text-orange-500"
          >Purchase History</a
        >
        <a
          [routerLink]="['/cart']"
          [matTooltip]="'Cart'"
          matTooltipPosition="right"
          class="flex items-center justify-center w-10 h-10 bg-orange-500 rounded-lg text-white hover:bg-orange-600 transition relative">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            class="w-6 h-6">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"></path>
          </svg>

          <span
            *ngIf="(cartItems$ | async)?.length as count"
            class="absolute -top-2 -right-2 bg-white text-black rounded-full w-6 h-6 flex items-center justify-center text-xs font-semibold shadow-md">
            {{ count }}
          </span>
        </a>
      </nav>
    </div>
  </div>
</header>
