<!-- Title-->
<h2 class="flex items-center justify-center font-bold text-2xl text-slate-900">Shopping Cart</h2>
<!-- Cart -->
<ng-container *ngIf="games$ | async as games">
  <ng-container *ngIf="games.length > 0; else emptyCart">
    <div
      class="flex flex-col"
      style="min-height: calc(100vh - 130px)">
      <div class="flex-grow">
        <!-- Games list -->
        <ng-container *ngFor="let game of games">
          <app-cart-item [game]="game"></app-cart-item>
        </ng-container>
      </div>

      <div class="mt-auto px-4 py-2">
        <!-- Subtotal information -->
        <ng-container *ngIf="totalPrice$ | async as totalPrice">
          <div class="flex items-center justify-between py-8 px-4">
            <p class="font-semibold">Subtotal</p>
            <p class="font-semibold">${{ totalPrice }}</p>
          </div>
        </ng-container>
        <!-- Buy button or Continue shopping link -->
        <button
          class="w-full bg-orange-500 text-white font-semibold px-4 py-2 rounded hover:bg-orange-600 transition"
          (click)="openOrderCheckoutDialog()">
          Buy
        </button>
        <span class="flex items-center justify-center text-slate-500 text-sm mt-2">
          or
          <a
            [routerLink]="'/games'"
            class="flex items-center ml-1 font-semibold text-orange-400 hover:text-orange-600 transition">
            Continue Shopping
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
            </svg>
          </a>
        </span>
      </div>
    </div>
  </ng-container>
</ng-container>

<!-- Empty cart -->
<ng-template #emptyCart>
  <div
    class="flex flex-col justify-center items-center p-4"
    style="min-height: calc(100vh - 130px)">
    <img
      src="../../../../../assets/images/empty_cart.svg"
      alt="Empty cart"
      class="w-full max-w-xs mx-auto" />
    <p class="text-slate-600 font-normal text-xl mt-4">Your cart is empty. Please add a few items.</p>
  </div>
</ng-template>
